*{
    margin: 0;
}
body{
    overflow-x: hidden;
}
.background{
    background-color: #201d1d;
}
.banner{
    width: 100vw;
    height: 600px;
}
.banner img{
    width: 100%;
    height: 100%;
}
#service-img{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    padding: 15px;
}
.content p{
    text-align: justify;
}
.btn:hover{
    background-color: rgb(82, 43, 43);
}